body {
  background-color: #4D4D4D;
  background-image: url("WsuLogo2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*filter: blur(5px);*/
}

.quiz{
  margin-top: 5%;
  margin-left: 20%;
  padding-top: 20px;
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 0.6);
  display:inline-block
}

input[type="checkbox"]{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  color: white;
}

input[type="submit"]{
  font-size: 20px;
  background-color: #A60F2D;
  border-radius: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: white;
}

.box {
  display: none;
}

label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  font-size:20px;
  line-height: 20px;
  margin: 5px;
}

label:before {
  margin-right:10px;
  line-height: 20px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #666666;
}

input[type=checkbox]:checked + label:before,
label:hover:before {
  content: "\2713";
  color: white;
  background-color: #A60F2D;
  text-align: center;
  line-height: 16px;
}
